* {
    margin: 0;
    box-sizing: border-box;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 15px;

    margin: auto;
    width: 100%;
    max-width: 1200px;
}

.main {
    margin: auto;
    margin-top: 20px;
    padding: 0 20px;
    max-width: 1000px;
}

.nav {
    display: flex;
    justify-content: space-between;
    width: 150px;
}

.edit-panel {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

.create-block,
.update-block,
.buttons-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 300px;
}

.buttons-block {
    max-width: 230px;
}

.car-option {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.car-header {
    display: flex;
    gap: 20px;
}

.car-main {
    display: flex;
    align-items: flex-end;
    gap: 10px;
}

.button {
    height: 20px;
}

.trace {
    position: relative;
    width: 100%;
    border-bottom: 1px solid black;
}

.trace::before {
    content: "🏴";
    position: absolute;
    bottom: 0;
    right: 70px;
}

.car {
    display: block;
    width: 70px;
    height: 40px;
    object-fit: cover;
}

.car-color {
    fill: blue;
}

.paggination {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: auto;
    margin-top: 20px;
}

.dialog {
    position: absolute;
    margin: auto;
    text-align: center;
}

